
.off {
    background: black url('../../assets/off.png') no-repeat center; 
    background-size: 110%;
}

.on{
    background: cornsilk url('../../assets/on.png') no-repeat center; 
    background-size: 110%;
    
}
