
.off {
background: url('../../assets/images/0.jpeg') no-repeat center; 
background-size: cover;
transition: all 0.2s ease-in;
}

.one {
    background: url('../../assets/images/1.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.two {
    background: url('../../assets/images/2.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.trw {
    background: url('../../assets/images/3.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.fou {
    background: url('../../assets/images/4.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.five {
    background: url('../../assets/images/5.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.six {
    background: url('../../assets/images/6.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.sev {
    background: url('../../assets/images/7.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.nin {
    background: url('../../assets/images/8.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.ten {
    background: url('../../assets/images/9.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.ele {
    background: url('../../assets/images/10.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.tul {
    background: url('../../assets/images/11.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.thw {
    background: url('../../assets/images/12.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.fol {
    background: url('../../assets/images/13.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.fit {
    background: url('../../assets/images/14.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.sit {
    background: url('../../assets/images/15.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.ehi {
    background: url('../../assets/images/16.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.twe {
    background: url('../../assets/images/17.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.grw {
    background: url('../../assets/images/18.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.dfw {
    background: url('../../assets/images/19.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
.ted {
    background: url('../../assets/images/20.jpeg') no-repeat center; 
    background-size: cover;
    transition: all 0.2s ease-in;
}
